.header-login {
    position: absolute;
    right: 2em;
    max-width: 10em;
}


.menu-chilrden {
    padding-top: 10px;

}
.menu-child{
    height: 0;
    overflow-y: hidden;
    transition: 0.5s;
}
.menu-header:hover .menu-child,.menu-header:focus .menu-child{
    height: 45px;
}